* {
   margin: 0;
   padding: 0;
}

body{
   background-color: rgb(255, 247, 247);
}
/* Header  */

header{
   background-color: white;
}
#logo {
   vertical-align: middle;
   margin: 0 5px;
}

header > h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 900;
   display: inline;
   vertical-align: middle;
}


/* Proprietà Main  */

.layout-button{
   background-color: white;
   padding-top: 2px;
   padding-bottom: 10px;
   padding-left: 40px;
   margin-bottom: 2px;
   border-radius: 10px;
}
.layout-Task {
   background-color: white;
   padding-top: 10px;
   padding-left: 40px;
   border-radius: 10px;
}
.container {
   width: 600px;
   height: 900px;
   margin: 0 auto;
   padding: 20px 0px;
}

/* Propietà Section  */

#button{
   margin-top: 10px;
}

button {
   color: rgba(49, 48, 48, 0.4);
   padding: 5px 5px;
   border: 1px solid rgba(49, 48, 48, 0.4);
   border-radius: 5px;
}

#first-button {
   color: white;
   background-color: rgb(90, 156, 236);
}

#To-do-list {
   margin: 50px 0;
}

.title-list {
   margin: 20px 0;
   font-family: sans-serif;
   font-size: 25px;
}

.row-list {
   font-weight: normal;
   font-size: 18px;
   margin: 20px 0;
}

.marker {
   display: inline-block;
   color: white;
   padding: 5px 7px;
   border-radius: 20px;
}
.blu{
   background-color: rgb(91, 182, 238);
}
.violet{
   background-color: rgb(128, 76, 170);
}
.green{
   background-color: rgb(7, 116, 65);
}
.orange{
   background-color: orange;
}