* {
   margin: 0;
   padding: 0;
}

/* Header  */

#logo {
   vertical-align: middle;
   margin: 0 5px;
}

header > h1 {
   font-family: Arial, Helvetica, sans-serif;
   display: inline;
   vertical-align: middle;
}


/* Proprietà Main  */

.container {
   width: 600px;
   height: 900px;
   /* background-color: orange; */
   margin: 0 auto;
   padding: 20px 0px;
}

/* Propietà Section  */

#button{
   margin-top: 30px;
}

button {
   padding: 5px 5px;
   border: 1px solid rgba(49, 48, 48, 0.4);
   border-radius: 5px;
}

#first-button {
   color: white;
   background-color: rgb(90, 156, 236);
}

#To-do-list {
   margin: 50px 0;
}

.title-list {
   margin: 20px 0;
   font-family: sans-serif;
   font-size: 20px;
}

.marker {
   display: inline-block;
   color: white;
   padding: 7px;
   border-radius: 20px;
}
.blu{
   background-color: rgb(91, 182, 238);
}
.violet{
   background-color: rgb(128, 76, 170);
}
.green{
   background-color: rgb(7, 116, 65);
}
.orange{
   background-color: orange;
}